@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Sorts+Mill+Goudy&display=swap');
/*tipografìa menu*/
/*@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Cinzel&family=Kurale&family=Life+Savers&family=Sorts+Mill+Goudy&display=swap');*/
/*tipografia h2 y h3*/
@import url('https://fonts.googleapis.com/css2?family=Amita&family=Bellefair&family=Cinzel&family=Kurale&family=Life+Savers&family=Sorts+Mill+Goudy&display=swap');





* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
    height: 100%;
    background-color: rgb(80,112,150);
    font-size: 62.5%;
}

/*grilla libro.html*/

#grillaSobreElLibro{
    display: grid;
    grid-template-areas:
    "headerSobreElLibro"
    "mainSobreElLibro"
    "footerSobreElLibro";
    grid-template-columns: 100%;
    grid-template-rows: 14.5% auto 4%;
    gap: 10px;
}
#grillaSobreElLibro > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75); /*permite proyectar una sombra difuminada desde el marco de casi cualquier elemento*/
    border-radius: 4px;
    text-align: center;
    padding: 30px;
}

/*trabajando en headerSobreElLibro*/

.headerSobreElLibro{
    grid-area: headerSobreElLibro;
    background-color:black;
    background-image: url(./imgCoraline/encabezado2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
  
.flexMenu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
}
  
.flexMenu li{
    list-style-type: none;
    background: linear-gradient( rgba(34, 48, 58, 0.699), rgba(163,95,197,255));
    border-radius: 10px;
}
  
.flexMenu a{
    text-decoration: none;
    color: rgb(238,231,101);
    font-size: 1.8rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
  
  /*fin header*/
  /*trabajando en el main*/



.mainSobreElLibro{
    grid-area: mainSobreElLibro;
    background-color: black;
    font-family: 'Bellefair', serif;
    font-family: 'Kurale', serif;
    font-family: 'Sorts Mill Goudy', serif;
}

/*titulo*/

.h1{
    padding-top: 2rem;
    padding-bottom: 10rem;    
}
.h1 img{
    width: 30%;
}
  
  /*fin titulo*/
  /*trabajando en section general*/
  
p{
    color:rgb(250,250,220);
    font-size: 1.8rem;
    line-height: 2.3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
  
h2{
    color: rgba(29,92,165,255);
    font-size: 2.5rem;
    font-weight: normal;
    padding: 5rem;
    text-decoration-line: overline;
    /* NO TOMA LA TIPOGRAFIA
    font-family: 'Amita', serif;
    font-family: 'Bellefair', serif;
    font-family: 'Cinzel', serif;
    font-family: 'Kurale', serif;
    font-family: 'Life Savers', serif;
    font-family: 'Sorts Mill Goudy', serif; */
}
  
  
h3{
    color: rgba(101,88,173,255);
    font-weight: normal;
    font-size: 2rem;
    padding: 3rem;
    padding-top: 7rem;
    text-decoration-line: overline;
}

/*trabajamos sobre las imagenes de main*/
.imgLibro img{
    border-radius: 10px;
    width: 40%;
    box-shadow: 4px 4px rgba(238, 231, 101, 0.596); 
}
.imgAutor iframe{
    border-radius: 10px;
    box-shadow: 4px 4px rgba(238, 231, 101, 0.596); 
}

/*grillaCont*/
.grillaCont{
    display: grid;
    grid-template-areas:
    "h21 h21"
    "t1 t1"
    "imgLibro t2"
    "h22 h22"
    "t3 imgAutor" ;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(auto);
    gap: 10px;
    align-items: center;
    justify-items: center;
    justify-content:space-evenly;
}
.grillaCont{
    background-image: url(./imgCoraline/pngwing.com\ \(6\).png);
    background-repeat: repeat;
    background-position: center;
    
  }
  .grillaCont > * {
    text-align: center;
    padding: 10px;
  }

/*areas*/

.h21{
    grid-area: h21;
}
.t1{
    grid-area: t1;
}
.imgLibro{
    grid-area: imgLibro;
}
.t2{
    grid-area: t2;
}
.h22{
    grid-area: h22;
}
.t3{
    grid-area: t3;
}
.imgAutor{
    grid-area: imgAutor;
}
/*la historia oculta*/
.laHistoria{
  background-image: url(./imgCoraline/87457-coraline.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  border-radius: 7px;
  border: inset 2px  rgba(238, 231, 101, 0.596);
  padding: 2rem;  
}
.laHistoria p{
  color: rgb(238,231,101);
}

/*footer*/

.footerSobreElLibro{
    grid-area: footerSobreElLibro;
    background-color: rgb(34,48,58);
}
  
.pFooter{
    color: rgb(238,231,101);
}
  
.footerSobreElLibro a{
    text-decoration: none;
    color: magenta;
}
  
.footerSobreElLibro li{
    list-style-type: none;
    float: left;
    font-size: 1.8rem;
}